beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
idna==2.6
oauthlib==2.0.6
python-dateutil==2.7.1
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
stringcase==1.2.0
tzlocal==1.5.1
urllib3==1.22
